<!-- width="210mm" height="297mm" -->
<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="210px" height="297px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 21000 29700"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
   <![CDATA[
    @font-face { font-family:"Staatliches";font-variant:normal;font-style:normal;font-weight:bold;}
    .fil1 {fill:black}
    .fil0 {fill:black;fill-rule:nonzero}
    .fnt1 {font-weight:bold;font-size:2116.67px;font-family:'Arial'}
    .fnt0 {font-weight:bold;font-size:3527.78px;font-family:'Arial'}
   ]]>
  </style>
 </defs>
 <g id="Vrstva_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <path class="fil0" d="M2128.45 5504.27l9088.2 0c0,6058.8 0,12117.6 0,18176.4l-9176.4 0c0,-6058.8 0,-12117.6 0,-18176.4l88.2 0zm8911.8 9176.4l-8823.6 0 0 8823.6 8823.6 0 0 -8823.6zm0 -9000l-8823.6 0 0 8823.6 8823.6 0 0 -8823.6z"/>
  <text x="6400" y="11360.7"  class="fil1 fnt0" text-anchor="middle">{{ include.upscore }}</text>
  <text x="6400" y="20339.54"  class="fil1 fnt0" text-anchor="middle">{{ include.downscore }}</text>
  <text x="4713.04" y="4751.33"  class="fil1 fnt1">{{ include.up }}</text>
  <text x="4699.28" y="25957.61"  class="fil1 fnt1">{{ include.down}}</text>
 </g>
</svg>