<header class="px-5 py-8 text-center">
    <div class="max-w-4xl flex flex-col md:flex-row justify-between mx-auto border-b-4">
        <a href="/" class="my-auto font-staatliches">
            <span>
                <h1 class="inline-block pb-2 text-4xl font-black group">Hrajeme Pro</h1>
                <!-- <p class="inline-block ">2022</p> -->
            </span>
        </a>
    
        <nav class="my-auto pb-2 text-[22px] -mb-[0.010rem]">
            <a href="/zapasy/" class="transition-all inline-block underline">
                <p class="">zápasy</p>
            </a>
            <p class="inline-block px-1">/</p>
            <a href="/vysledky/" class="transition-all inline-block underline">
                <p class="">výsledky</p>
            </a>
        </nav>
    </div>
</header>